---
import type { CollectionEntry } from "astro:content";
import { dateToISO, formatDate } from "@/lib/date";

interface Props {
	notes: Array<CollectionEntry<"notes">>;
}

const { notes } = Astro.props;
---

<ul class="divide-y divide-border">
  {
    notes.map((note) => (
      <li class="group relative max-w-2xl py-6 first:pt-0">
        <p class="text-xs font-light text-muted-foreground sm:text-sm">
          <time datetime={dateToISO(note.data.publishedAt)}>
            {formatDate(note.data.publishedAt)}
          </time>
        </p>
        <h2 class="pt-1 text-lg font-semibold tracking-tight text-balance transition-colors group-hover:text-orange-500 sm:text-xl">
          {note.data.title}
        </h2>
        <p class="pt-1 text-sm text-muted-foreground">{note.data.description}</p>
        <a
          href={`/notes/${note.id}`}
          title={note.data.title}
          class="absolute inset-0 rounded-md outline-none focus-visible:ring-2 focus-visible:ring-ring"
        >
          <span class="sr-only">{note.data.title}</span>
        </a>
      </li>
    ))
  }
</ul>
