---
import { getImage, Image } from "astro:assets";
import Logo from "@/assets/logo.svg";
import { NAVIGATIONS, SOCIALS, OTHERS } from "../navigations";

let image = await getImage({
  src: Logo,
  format: "webp",
  width: 128,
  height: 128,
});
---

<footer
  class="container-fluid py-10 flex flex-col md:pr-10 md:flex-row md:items-start md:justify-between"
>
  <p class="font-semibold text-muted-foreground">
    &copy; {new Date().getFullYear()} - rimzzlabs.com
  </p>

  <div class="flex items-start justify-between gap-8 max-md:pt-10">
    <div>
      <p class="font-semibold">Resources</p>
      <nav class="inline-flex flex-col">
        {
          OTHERS.map((item) => (
            <a
              href={item.pathname}
              target={item.pathname.includes("http") ? "_blank" : undefined}
              rel={
                item.pathname.includes("http")
                  ? "noopener noreferrer"
                  : undefined
              }
              class="text-sm font-medium text-muted-foreground"
            >
              {item.label}
            </a>
          ))
        }
      </nav>
    </div>

    <div>
      <p class="font-semibold">Website</p>
      <nav class="inline-flex flex-col">
        {
          NAVIGATIONS.filter((item) => item.pathname !== "/resume").map(
            (item) => (
              <a
                href={item.pathname}
                class="text-sm font-medium text-muted-foreground"
              >
                {item.label}
              </a>
            )
          )
        }
      </nav>
    </div>

    <div>
      <p class="font-semibold">Social</p>
      <nav class="inline-flex flex-col">
        {
          SOCIALS.map((item) => (
            <a
              target="_blank"
              href={item.pathname}
              rel="noopener noreferrer"
              class="text-sm font-medium text-muted-foreground"
            >
              {item.label}
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</footer>
