---
import { NAVIGATIONS, SOCIALS, OTHERS } from "../navigations";
---

<footer
  class="container-fluid pt-10 pb-40 flex flex-col md:pr-10 md:flex-row md:items-start md:justify-between"
>
  <p class="font-semibold text-muted-foreground">
    &copy; {new Date().getFullYear()} - rimzzlabs.com
  </p>

  <div class="grid grid-cols-3 gap-8 max-md:pt-10">
    <div>
      <p class="font-semibold pb-2">Website</p>
      <nav class="flex flex-col">
        {
          NAVIGATIONS.filter((item) => item.pathname !== "/").map((item) => (
            <a
              title={item.label}
              href={item.pathname}
              class="text-sm py-1 font-medium text-muted-foreground"
            >
              {item.label}
            </a>
          ))
        }
      </nav>
    </div>

    <div>
      <p class="font-semibold pb-2">Social</p>
      <nav class="flex flex-col">
        {
          SOCIALS.map((item) => (
            <a
              title={item.label}
              target="_blank"
              href={item.pathname}
              rel="noopener noreferrer"
              class="text-sm py-1 font-medium text-muted-foreground"
            >
              {item.label}
            </a>
          ))
        }
      </nav>
    </div>

    <div>
      <p class="font-semibold pb-2">Resources</p>
      <nav class="flex flex-col">
        {
          OTHERS.map((item) => (
            <a
              title={item.label}
              href={item.pathname}
              target={item.pathname.includes("http") ? "_blank" : undefined}
              rel={
                item.pathname.includes("http")
                  ? "noopener noreferrer"
                  : undefined
              }
              class="text-sm py-1 font-medium text-muted-foreground"
            >
              {item.label}
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</footer>
