---
import '@/styles/global.css';
import '@fontsource-variable/lora';
import serifFont from '@fontsource-variable/lora/files/lora-latin-wght-normal.woff2?url';
import { SEO, type SEOProps } from 'astro-seo';
import { ClientRouter } from 'astro:transitions';

import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';
import SkipButton from '@/components/SkipButton.astro';
import BlurryBlob from '@/components/BlurryBlob.astro';
import defaultSeo from '@/configs/seo';
import { getImage } from 'astro:assets';
import image from '@/assets/me.jpg';

type Props = {
  seo?: {
    title?: string;
    description?: string;
    keywords?: Array<string>;
    article?: { tags: Array<string>; published_time: string };
  };
  skipNavAndFooter?: boolean;
};

let optimizedImage = await getImage({
  src: image,
  format: 'webp',
  width: 280,
  height: 280,
});

let { seo, skipNavAndFooter = false } = Astro.props;

let title = seo?.title ?? defaultSeo.title;
let description = seo?.description ?? defaultSeo.description;
let pathname = Astro.url.pathname;

let keywordsContent = seo?.keywords
  ? seo.keywords.concat(defaultSeo.keywords).join(',')
  : defaultSeo.keywords.join(',');

let article: NonNullable<SEOProps['openGraph']>['article'] = seo?.article
  ? {
      tags: seo?.article?.tags,
      authors: ['Rizki Maulana Citra', 'rimzzlabs'],
      publishedTime: seo?.article?.published_time,
    }
  : undefined;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      twitter={{
        title,
        description,
        creator: '@rimzzlabs',
        site: 'rimzzlabs.com',
        image: '/og-image.png',
        imageAlt: 'rimzzlabs.com',
        card: 'summary_large_image',
      }}
      openGraph={{
        article,
        basic: { title, image: '/og-image.png', type: seo?.article ? 'article' : 'website' },
        image: {
          alt: 'rimzzlabs.com',
          height: 700,
          width: 1280,
          type: 'image/png',
          url: '/og-image.png',
        },
        optional: { locale: 'en', description, siteName: 'rimzzlabs' },
      }}
      extend={{
        link: [
          { rel: 'icon', href: '/favicon.svg' },
          { rel: 'sitemap', href: '/sitemap-index.xml' },
        ],
        meta: [
          { name: 'author', content: 'rimzzlabs.com' },
          { name: 'publisher', content: 'rimzzlabs.com' },
          { name: 'generator', content: Astro.generator },
          { name: 'keywords', content: keywordsContent },
          { name: 'robots', content: 'index, follow' },
          {
            name: 'viewport',
            content: 'width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover',
          },
          {
            name: 'googlebot',
            content: 'index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1',
          },
        ],
      }}
    />
    <link rel='preload' as='font' type='font/woff2' href={serifFont} crossorigin='anonymous' />
    {pathname === '/' && <link rel='preload' href={optimizedImage.src} as='image' />}
    <ClientRouter />
  </head>
  <body class='antialiased'>
    <SkipButton />
    {!skipNavAndFooter && <Navbar />}

    <main id='content' class='min-h-[calc(100vh-12.5rem)]'>
      <slot />
    </main>

    {!skipNavAndFooter && <Footer />}

    <BlurryBlob />
  </body>
</html>
